@import  './table.scss';
.container {
	min-height: 100vh;
}
.m-title {
	padding: 30upx 0 0 40upx;
}

.m-content {
	padding: 20upx 20upx;
	.u-title-wrapper{
		color: #197EC6;
		vertical-align: middle;
		font-size: 28rpx;
		.u-title{
			display: inline-block;
			width: 25%;
			vertical-align: middle;
		}
	}
	.u-list {
		width: 100%;
		display: flex;
		align-items: center;

		.u-platform {
			display: inline-block;
			width: 20%;
			margin: 0 2.5%;
			text-align: center;
			padding: 20upx 0;
			border-radius: 10upx;
			.u-left {
				font-size: 0;
				line-height: 0;
				.icon {
					width: 100upx;
					height: 100upx;
				}
			}
			.u-right {
				margin-top: 10upx;
				font-size: 28upx;
				color:$uni-text-color;
				vertical-align: middle;
			}
		}
		.u-desc{
			display: inline-block;
			width: 25%;
			font-size: 28rpx;
			color: $uni-text-color;
			word-break: break-all;
			padding: 10upx;
			.link{
				color: #338DCD;
			}
		}
	}
}
.m-condition{
	text-align: center;
	padding-bottom: 20rpx;
	font-size: 32rpx;
	.u-middle{
		margin: 0 20upx;
	}
	.u-tips{
		color: #007aff;
	}
}
.m-mask{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba($color: #000000, $alpha: 0.4);
	z-index: 5;
	display: none;
	&.active{
		display: block;
	}
}
.m-pop-content{
	position: fixed;
	z-index: 6;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 90vw;
	height: 80vh;
	overflow: auto;
	background-color: #FFFFFF;
	border-radius: 20upx;
	padding: 0  20upx 20upx;
	.m-close{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10upx 0;
		position: sticky;
		top: 0;
		z-index: 11;
		background-color: #FFFFFF;
	}
	.t-table{
		height: calc(80vh - 100upx);
		overflow: auto;
	}
	
}