
// 候选项样式
.m-list {
	padding: 20upx 0 30upx 20upx;
	background-color: #ffffff;
	border-bottom: 1upx solid #e7f4fe;
	margin-bottom: 20upx;
	.u-q-title {
		font-size: 32upx;
		font-weight: bold;
		color: #3f3f3f;
		.icon {
			display: inline-block;
			font-size: 22upx;
			color: #25a5ff;
			border: solid 1upx #25a5ff;
			border-radius: 20upx;
			padding: 0 10upx;
			margin-left: 15upx;
		}
	}
	.u-content {
		display: flex;
		justify-content: space-around;
		align-items: center;
		font-size: 30upx;
		padding: 20upx 0;
		.f-record,
		.f-audio {
			width: 140upx;
			height: 140upx;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			border-radius: 20upx;
			box-shadow: 0 0 10upx #eee;
			color: $uni-text-color;
			&.recording {
				background-color: #ff3333;
				color: #ffffff;
			}
		}
		.f-audio.disabled {
			opacity: 0.6;
		}
		.input {
			width: 90%;
			border-bottom: solid 1rpx #ccc;
			color: $uni-text-color;
		}
	}
	.radio-group,
	radio-group {
		padding-left: 50upx;
	}
	.u-list-cell {
		.u-radio {
			display: none;
		}
		.u-text {
			padding-top: 20upx;
			font-size: 35upx;
			color: #bbbbbb;
			&::before {
				content: '';
				display: inline-block;
				background-color: #fff;
				border: solid 1upx #dbdbdb;
				width: 25upx;
				height: 25upx;
				border-radius: 50%;
				vertical-align: middle;
				padding: 6upx;
				margin-right: 10upx;
			}
			&.active::before {
				background-color: #25a5ff;
				background-clip: content-box;
				padding: 6upx;
			}
		}
	}
}
// 分栏显示页面最顶部样式
.m-tip {
	background-color: #ffffff;
	padding: 20upx 20upx 0 20upx;
	margin-bottom: 20upx;
	border-bottom: solid 1upx #e7f4fe;
	// 分栏内块格式
	.u-grid {
		.left,
		.right {
			display: inline-block;
			vertical-align: top;
			font-size: 30upx;
			color: $uni-text-color;
		}
		.left {
			width: 40%;
			text-align: center;
		}
		.right {
			width: 60%;
			text-align: center;
			display: inline-flex;
			align-items: center;
			flex-wrap: wrap;
			.list-item {
				width: 4.5em;
				height: 3.2em;
				display: inline-block;
				margin-bottom: 10upx;
				border: solid 1upx $main-borer-color;
				border-radius: 10upx;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				.name {
					font-weight: bold;
				}
				.phone {
					color: #25a5ff;
				}
			}
		}
	}
}
// 单独一行格式
.m-line {
	display: flex;
	padding: 5upx 40upx;
	// padding-top: 50upx;
	justify-content: space-between;
	align-items: center;
	.u-title {
		width: 35%;
		color: #303133;
		font-size: 32upx;
		.icon {
			width: 50upx;
			height: 40upx;
			vertical-align: middle;
			margin-right: 10upx;
		}
	}
	.u-content {
		width: 60%;
		font-size: 32upx;
		.img {
			width: 60%;
			height: 145upx;
		}
	}
}
.first-line{
	margin-top: 20upx;
}
