.container {
	min-height: 100vh;
	background-color: #f4f8ff;
}
.m-title {
	padding: 30upx 0 0 40upx;
}
.m-content {
	padding: 20upx 40upx;
	.u-list {
		padding: 20upx 40upx;
		background-color: #ffffff;
		border-radius: 30upx;
		margin-bottom: 20upx;
		box-shadow: 0 5upx 5upx #eee;
		border: solid 1upx $main-borer-color;
		.u-list-title {
			font-size: 32upx;
			color: $uni-text-color;
			border-bottom: solid 1px $main-borer-color;
			padding-bottom: 20upx;
			position: relative;
		}
		.u-list-desc {
			font-size: 28upx;
			color: $uni-text-second-color;
			transition: height 0.5s; 
			height: 0;
			overflow: hidden;
			&.active{
				height: auto;
			}
			.cell {
				display: inline-block;
				width: 40%;
				margin: 20upx 0 0 40upx;
				white-space: nowrap;
				&.one_line {
					display: block;
					width: 100%;
				}
			}
		}
	}
}
.u-dot{
	position: absolute;
	top: 15upx;
	right: 15upx;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 16upx 24upx;
	border-color: transparent;
	border-left-color: #CCCCCC;
	transition: all 0.2s;
	// transform: translateX(8upx);
	z-index: 3;
	&.active{
		transform-origin: center center;
		transform: translate(-5upx,10upx) rotate(90deg);
	}
}
.m-tips{
	font-size: 32upx;
	text-align: center;
	margin-top: 20vh;
	color: $uni-text-color;
}