.container {
	min-height: 100vh;
	background-color: #f4f8ff;
}
.m-title {
	padding: 30upx 0 0 40upx;
}
.m-content {
	padding: 20upx 40upx;
	height: calc(100vh - 108upx);
	swiper,swiper-item,{
		width: 100%;
		height: 100%;
		overflow:auto;
	}
	.u-list {
		padding: 20upx 0;
		background-color: #ffffff;
		border-radius: 30upx;
		margin-bottom: 20upx;
		box-shadow: 0 5upx 5upx #eee;
		border: solid 1upx $main-borer-color;
		.u-list-title {
			font-size: 32upx;
			color: $uni-text-color;
			border-bottom: solid 1px $main-borer-color;
			position: relative;
			padding: 0 40upx 20upx 40upx;
		}
		.u-list-desc {
			font-size: 28upx;
			color: $uni-text-second-color;
			transition: max-height 0.3s; 
			max-height: 0;
			overflow: hidden;
			background-color: #F9F9F9;
			padding:0 40upx;
			&.active{
				max-height: 270upx;
			}
			.cell {
				display: inline-block;
				width: 50%;
				margin: 20upx 0 0 0;
				color: #5F5F5F;
				.cell-title{
					color: #959595;
				}
				&.one_line {
					display: block;
					width: 100%;
				}
			}
		}
	}
}
.u-dot{
	position: absolute;
	top: 15upx;
	right: 15upx;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 16upx 24upx;
	border-color: transparent;
	border-left-color: #CCCCCC;
	transition: all 0.2s;
	// transform: translateX(8upx);
	z-index: 3;
	&.active{
		border-left-color: #0195FF;
		transform-origin: center center;
		transform: translate(-5upx,10upx) rotate(90deg);
	}
}
.m-tips{
	font-size: 32upx;
	text-align: center;
	margin-top: 20vh;
	color: $uni-text-color;
}